.login-page {
    background-color: rgb(245, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-logo {
    display: flex;
    justify-content: center;
    height: 9vh;
    font-size: 1.7em;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
}

.login-box-message {
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    justify-content: center;

}

.input-data {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: none;
    padding: 10px;
}

input[type="text"],input[type="password"]{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    /* border-bottom: 1px solid #ccc; */
    padding: 10px;
}

/* From Uiverse.io by SteveBloX */ 
button {
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
}
